In [80]:
import pandas as pd

# Funções

In [83]:
# ler arquivo
def read_csv(path):
    df = pd.read_csv(path)
    df.drop(columns=["Código (SKU)"], inplace=True)
    print(df.shape)
    return df

# dados

In [86]:
pagos = read_csv('pagos-proprios.csv')
pagos_thiago = read_csv("pagos-thiago.csv")
nao_pagos = read_csv("nao-pagos-abertos-mes-2.csv")
nao_pagos_thiago = read_csv("nao-pagos-abertos-mes-2-thiago.csv")
leiloes = read_csv("itens-leiloes.csv")
lista_leiloes = leiloes['Produto'].to_list()

(37, 3)
(16, 3)
(12, 3)
(4, 3)
(50, 3)

### preenchendo variaveis

In [89]:
# definindo status da venda
v_status = 'Status'
pagos[v_status] = "recebido"
pagos_thiago[v_status] = "recebido"
nao_pagos[v_status] = "pendente"
nao_pagos_thiago[v_status] = "pendente"


# definindo se é tercerizada 
v_stock = "Estoque"
pagos[v_stock] = "collectors"
nao_pagos[v_stock] = "collectors"
pagos_thiago[v_stock] = "thiago"
nao_pagos_thiago[v_stock] = "thiago"

### Concatenando

In [92]:
# juntando 
def concat(df1,df2):
    result = pd.concat([df1, df2], axis=0)
    return result

In [94]:
todos_pagos = concat(pagos, pagos_thiago)
todos_nao_pagos = concat(nao_pagos, nao_pagos_thiago)
todos_junto = concat(todos_pagos, todos_nao_pagos)

# totais

In [97]:
import pandas as pd

# Criar a tabela cruzada
comp = pd.crosstab(
    todos_junto['Status'],
    todos_junto['Estoque'],
    values=todos_junto['Valor'],
    aggfunc='sum',
    margins=True,
    margins_name="Total"
)

# Aplicar formatação para exibir valores em reais (R$)
comp_formatado = comp.map(lambda x: f"R$ {x:,.2f}".replace(",", "X").replace(".", ",").replace("X", "."))

# Exibir a tabela formatada no console
comp_formatado

Estoque     collectors        thiago         Total
Status
pendente  R$ 10.810,00   R$ 4.840,00  R$ 15.650,00
recebido  R$ 13.770,00  R$ 23.390,00  R$ 37.160,00
Total     R$ 24.580,00  R$ 28.230,00  R$ 52.810,00

In [46]:
def filter_itens(df, list_):
    filted_df = df[df["Produto"].isin(list_)]
    return filted_df

In [70]:
todos_thiago = todos_junto[todos_junto['Estoque'].isin(["thiago"])]
todos = todos_junto[todos_junto['Estoque'].isin(["collectors"])]

leiloes_thiago = filter_itens(todos_thiago, lista_leiloes)
leiloes_c = filter_itens(todos, lista_leiloes)

In [74]:
leiloes_thiago["Valor"].sum()

12630

In [113]:
n = leiloes_thiago["Valor"].sum()
n

12630

# Resultados

In [101]:
comp_formatado

Estoque     collectors        thiago         Total
Status
pendente  R$ 10.810,00   R$ 4.840,00  R$ 15.650,00
recebido  R$ 13.770,00  R$ 23.390,00  R$ 37.160,00
Total     R$ 24.580,00  R$ 28.230,00  R$ 52.810,00

In [115]:
print(28230 - n)

15600